* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
}
.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__left_text {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 50px */
  margin-left: 10px;
}
.header__right {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.header__right_link {
  color: #4d5053;
  margin-left: 50px;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 25px */
}

.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.details .btns {
  display: flex;
  flex-direction: column;
  margin-left: 110px;
}

.blog__list_elem {
  display: flex;
  flex-direction: row;
}

.component__none {
  display: none;
}

.tags {
  display: flex;
  flex-direction: column;
  width: 298px;
  gap: 12px;
}
.tags__button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.tags__button_btn {
  display: flex;
  padding: 9px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #F4F0EC;
}
.tags__button_btn:active {
  background: #292F36;
  color: #F4F0EC;
}

.btnActiv {
  display: flex;
  padding: 9px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #F4F0EC;
  background: #292F36;
  color: #F4F0EC;
}

.blog__list {
  display: flex;
  width: 802px;
}
.blog__list__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 100px;
}
.blog__list__item_title {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.blog__list__item_info {
  margin-top: 46px;
  display: flex;
  flex-direction: row;
  margin-bottom: 46px;
}
.blog__list__item_info_right {
  margin-left: 410px;
}
.blog__list__item_description {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.inf {
  display: flex;
  color: #4d5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.quotes {
  margin-top: 36px;
  display: flex;
  width: 800px;
  height: 268px;
  border-radius: 50px;
  background: #F4F0EC;
}
.quotes__data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.quotes__data_logo {
  display: flex;
  width: 100px;
  height: 100px;
  color: #CDA274;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 200px;
  font-style: italic;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 4px;
  padding-right: 264px;
  padding-bottom: 40px;
  transform: rotate(180deg);
}
.quotes__data_text {
  color: #CDA274;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  padding-left: 228px;
}

.blog-details {
  display: flex;
  flex-direction: column;
}
.blog-details__title {
  margin-top: 58px;
  display: flex;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1px;
}
.blog-details__text {
  margin-top: 20px;
  width: 800px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}
.blog-details__itemList {
  margin-top: 24px;
  gap: 32px;
  width: 734px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.blog-details__itemList_item {
  margin-left: 26px;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.details__img {
  margin-top: 44px;
}

.banner {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 96px;
  margin-bottom: 134px;
}

.interno {
  display: flex;
  width: 393px;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
}
.interno__head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.interno__head .interno_text {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 50px */
}
.interno__span {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
}
.interno__icon {
  display: flex;
  flex-direction: row;
  gap: 54px;
}

.pages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  width: 200px;
}

.footer__text {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%;
  /* 66px */
  letter-spacing: 0.22px;
}

.footer__section {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  /* 31.25px */
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  width: 260px;
}
.contact__address {
  display: flex;
  line-height: 150%;
  /* 33px */
  letter-spacing: 0.22px;
  width: 258px;
}

.lines {
  fill: #292f36;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  gap: 399px;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */